<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;">

<head>
    <meta charset="UTF-8">
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript" async="async"></script>
</head>

<body style="display:table;width:100%;height:100%;height:calc(100% - 30px);margin:0;">
    <div style="display: table-cell; text-align:center; vertical-align: middle;">
        <ins class="adsbygoogle"
             style="display:block;"
             data-ad-client=""
             data-ad-slot=""
             data-ad-format="auto">
        </ins>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({})</script>
</body>

</html>